.formContainer {
   width: 100%;
   max-width: 500px;
   background-color: white;
   padding: 30px;
   border-radius: 12px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.modalContent {
   padding: 0;
}

.h2 {
   text-align: center;
   font-weight: 700;
   font-size: 28px;
   color: #0f4d8a;
}

hr {
   margin: 20px auto 20px;
   width: 100%;
   height: 2px;
   background-color: rgb(227, 223, 223);
}

.formAuth {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.nameRow {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 12px;
   width: 100%;
}

.nameField {
   flex: 1;
   height: 40px;
   padding: 0 12px;
   border-radius: 10px;
   border: 1px solid #bdc1c6;
   outline: none;
   font-size: 16px;
   box-sizing: border-box;
}

.emailField,
.passwordField,
.nameField {
   padding: 0 12px;
   width: 100%;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #bdc1c6;
   outline: none;
}

.emailField:valid,
.passwordField:valid {
   border: 1px solid #04862d;
}

.emailField:focus:required:invalid,
.passwordField:focus:required:invalid {
   border: 1px solid #b90303;
}

.passwordField:not(:required) {
   border: 1px solid #bdc1c6;
}

.buttonAuth {
   margin-top: 1rem;

   width: 100%;
   height: 2.5rem;
   border-radius: 10px;

   background-color: #0c73fe;
   color: white;
}

.links {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   gap: 90px;
}
